*,
*::after,
*::before {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #DDD;
  max-width:65%;
  margin:0 auto;
}

@media(max-width:500px){
  .App {
    max-width:100%;
  }
}

@media(min-width:501px) and (max-width:900px){
  .App {
    max-width:85%;
  }
}

@media(min-width:901px) and (max-width:1200px){
  .App {
    max-width:80%;
  }
}
